In [10]:
import pandas as pd

In [11]:
def read_data(filename: str):
    """
    Function to read in an excel file, and convert it to a Pandas dataframe
    """
    
    print("Note: filename input should not include 'shared_data_read_only/'")
    print("Example: filename = 'AfriKids/InternalData/1. Master Stats 2023.xlsx'")
    
    df = pd.read_excel('shared_data_read_only/Data/' + filename)
    
    return df

In [12]:
# Example use

# Read in file
df = read_data('AfriKids/InternalData/1. Master Stats 2023.xlsx')

# Print first 5 rows
df.head(5)

Note: filename input should not include 'shared_data_read_only/'
Example: filename = 'AfriKids/InteralData/1. Master Stats 2023.xlsx'

,Use the + or - at the left of the row numbers to open/close the groups,Notes,Ghana,UER,Pre-2018 Northern Region,UWR,NR,NER,Sav.R,Northern regions combined,Source,Page#,Date,Alternative ways to phrase/perspective
0,General,"Demographics, AfriKids",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Population,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Population,NaN,30832019,1301226,NaN,901502,2.310939e+06,658946.000000,653266.000000,5825879,https://www.statsghana.gov.gh/gssmain/fileUplo...,118+,2021,NaN
3,Percentage of female population,NaN,0.506992,0.514871,NaN,0.511574,5.059562e-01,0.511115,0.498387,0.50838,https://www.statsghana.gov.gh/gssmain/fileUplo...,118+,2021,NaN
4,Percentage of male population,NaN,0.493008,0.485129,NaN,0.488426,4.940438e-01,0.488885,0.501613,0.49162,https://www.statsghana.gov.gh/gssmain/fileUplo...,118+,2021,NaN

In [39]:
path = 'AfriKids/ExternalReports/Ghana_2021_Census_Reports/Vol_3D_Literacy and Education_district.xlsx'

df = read_data(path)

df

Note: filename input should not include 'shared_data_read_only/'
Example: filename = 'AfriKids/InteralData/1. Master Stats 2023.xlsx'

,"Table 3D.1a: Population 6 years and older by literacy status, sex, type of locality and district",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 42,Unnamed: 43,Unnamed: 44,Unnamed: 45,Unnamed: 46,Unnamed: 47,Unnamed: 48,Unnamed: 49,Unnamed: 50,Unnamed: 51
0,Literacy Status,Western Region,NaN,NaN,Districts,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,Number,Percent,NaN,Jomoro Municipal,Ellembelle,Nzema East Municipal,Ahanta West Municipal,Effia Kwesimintsim Municipal,Sekondi Takoradi Metropolitan Area (STMA),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,All Locality Types,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Both sexes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Total,1764583,100,0.0,107360,102571,80117,130920,152451,92761,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
823,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
824,Female,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
825,Total,283807,100,NaN,43392,34228,24259,27489,14369,25111,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
826,Not literate,191751,67.563873,NaN,31641,25951,13464,17482,10560,17044,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
827,Literate,92056,32.436127,NaN,11751,8277,10795,10007,3809,8067,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN